@model IEnumerable<TorontoBeerDirectory.Models.BeerDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div>
    <a href="/Beer/New">Add a Beer</a>
</div>
@foreach (var beer in Model)
{
    <h2><a href="/Beer/Details/@beer.BeerID">@beer.BeerName</a></h2>
    <div>Type of Beer: @beer.BeerType</div>
    <div>Description: @beer.BeerDescription</div>
    <div>Alcohol Content: @beer.BeerAlcoholContent</div>
    <div>Brewery: @beer.BreweryName</div>
}
